<!-- Services Section -->
    <section id="fun-facts">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Fun Facts</h2>
                    <h3 class="section-subheading text-muted">Quokkas are the cutest animal in the world</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paw fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">What Are Quokkas?</h4>
                    <p class="text-muted">Quokkas are small little cute marsupials. About the size of a cat, with the body structure much like a kangaroo. They’re some of the smallest members of the macropod family.</p>
                    <p class="text-muted">As they are nocturnal, they love the night. It's the best time to come out and look for food. But you'll see them during the day chilling out under the shade of bushes, trees and shelters.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">What Do They Eat?</h4>

                    <p class="text-muted">The quokka is a vegetarian, meaning it loves plant material. Everything from leaves, grasses, succulents to fruits and berries if they can find them.</p>

                      <p class="text-muted">They can become very sick if fed with things like bread, given to them by visitors to Rottnest Island. So if you want the world to continue taking pictures and quokka selfies, then it's best not to feed them.</p>

                        <p class="text-muted">Even though temperatures can get up to the high thirties, they don't need to drink vast amounts of water and can go for weeks without drinking at all.</p>

                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Where Are They Found?</h4>

                    <p class="text-muted">Quokkas are found on Rottnest Island in Western Australia. You have to get a ferry out from Perth which only takes 25 minutes. You can stay a few nights on the island to explore and hangout with them.</p>

                      <p class="text-muted">There are smaller quokka populations Bald Island and on the mainland in the surrounding Perth area.</p>

                </div>
            </div>
        </div>
    </section>
